* text=auto

*.c text eol=lf
*.cmake text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

CMakeLists.txt text eol=lf

patches/**/*.patch -diff
